@import "../../common.module.css";

.container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 48px 64px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header-info-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.gallery img {
    width: 292px;
    height: 312px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.navigation {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid var(--grey);
}

.tab-link {
    padding-bottom: 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: var(--black);
}

.tab-link.active {
    border-bottom: solid 5px var(--light-red);
}

.details-container {
    display: flex;
    gap: 40px;
}

.subpage-container {
    flex-basis: 50%;
}